@use "variables" as *;

html { -webkit-text-size-adjust: 100%; }
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen { div.sourceCode { overflow: auto; } }
@media print {
    pre > code.sourceCode { white-space: pre-wrap; }
    pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code { counter-reset: source-line 0; }
pre.numberSource code > span { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before {
    content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
}
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
@media screen {
    pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}

code {
    @include part(al, "red", $weight: bold);     /* Alert */                     
    @include part(an, "grey1", italic, bold);    /* Annotation */                
    @include part(at, "yellow");                 /* Attribute */                 
    @include part(bn, "aqua");                   /* BaseN */                     
    @include part(bu, "aqua");                   /* BuiltIn */                   
    @include part(cf, "green");                  /* ControlFlow */               
    @include part(ch, "blue");                   /* Char */                      
    @include part(cn, "bg_visited");             /* Constant */                  
    @include part(co, "grey1", italic);          /* Comment */                   
    @include part(cv, "grey1", italic, bold);    /* CommentVar */                
    @include part(do, "red", italic);            /* Documentation */             
    @include part(dt, "red");                    /* DataType */                  
    @include part(dv, "aqua");                   /* DecVal */                    
    @include part(er, "red");                    /* Error */
//  span.ex { }                                  /* Extension */
    @include part(fl, "aqua");                   /* Float */                     
    @include part(fu, "blue");                   /* Function */                  
    @include part(im, "green", $weight: bold);   /* Import */                    
    @include part(in, "fg-date", italic, bold);  /* Information */               
    @include part(kw, "green", $weight: bold);   /* Keyword */                   
    @include part(op, "grey1");                  /* Operator */                  
    @include part(ot, "green");                  /* Other */                     
    @include part(pp, "orange");                 /* Preprocessor */              
    @include part(sc, "aqua");                   /* SpecialChar */               
    @include part(ss, "purple");                 /* SpecialString */             
    @include part(st, "aqua");                   /* String */                    
    @include part(va, "blue");                   /* Variable */                  
    @include part(vs, "aqua");                   /* VerbatimString */            
    @include part(wa, "red");                    /* Warning */                   
}                                                                                             




























