@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v31-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Epunda Slab';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/epunda-slab-v2-latin-600.woff2') format('woff2');
}
