@use "sass:map";

// ==========================================
// Details
// ==========================================
$max-width: 64rem;

$space-mini: 0.5rem;
$space-thin: 1rem;
$space-normal: 2rem;

$logo-max-height: 6rem;

$viewpoint-small: 40rem;

// ==========================================
// Font
// ==========================================

$headers: (
    "h1": 2.5rem,
    "h2": 2rem,
    "h3": 1.75rem,
    "h4": 1.5rem,
    "h5": 1.25rem,
    "h6": 1.25rem
);

$font-header: map.get($headers, "h1");
$font-normal: 1.25rem;
$font-tag-size: 1rem;
$font-tag-padding: 0.25rem;
$font-normal-line-height: 1.5;

